@font-face {
  font-family: "Header";
  src: url(fonts/header/RubikMonoOne-Regular.ttf);
}
@font-face {
  font-family: 'Cooler-Content';
  src: url(fonts/content/Gabarito-VariableFont_wght.ttf);
}
body{
    background-image: url(images/backgrounds/backgroundPaper.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
    margin:0;
    padding:0;
}
button {
    background-color:black;
    color:white;
    border-color:white;
    border-style: solid;
    border-radius:5px;
    margin:5px;
    padding:10px;
    font-family: 'Cooler-Content';
}
hr {
  color:white;
  position: absolute;
  border:solid;
  background-color: white;
}
.display-container {
  width:400px;
  height:360px;
  position:absolute;
}
.display {
    margin: 5px;
    padding: 10px;
    border-color: white;
    border-style: solid;
    border-radius:5px;
    float:left;
    font-size: 40px;
    font-family: 'Header';
}
.display-button{
  margin-top:80px;
}
.display p {
  position:relative;
  top:-12.5%;
}

/*
   __  __                                         __              
  / / / /    ____    ____ _   _____  ____ _  ____/ /  ___    _____
 / / / /    / __ \  / __ `/  / ___/ / __ `/ / __  /  / _ \  / ___/
/ /_/ /    / /_/ / / /_/ /  / /    / /_/ / / /_/ /  /  __/ (__  ) 
\____/    / .___/  \__, /  /_/     \__,_/  \__,_/   \___/ /____/  
         /_/      /____/                                          
*/

.upgradePos {
  margin-left:25%;
  padding:1%;
  height:360px;
}
.upgradePos button {
  position:absolute;
  z-index: 2;
}
.upgradePos hr {
  z-index: 1;
}
#upgrade1 {
  margin-left:35%;
}
#upgrade2 {
  margin-top:5%;
  margin-left:20%;
}
#upgrade3 {
  margin-top:10%;
  margin-left:20%;
}
#upgrade4 {
  margin-top:5%;
  margin-left:50%;
}
#upgrade5 {
  margin-top:10%;
  margin-left:50%;
}
#up1-up2 {
  margin-left:33%;
  margin-top:-2%;
  transform:rotate(60deg);
  height:20%;
}
#up1-up4 {
  margin-left:48%;
  margin-top:-2%;
  transform:rotate(-60deg);
  height:20%; 
}
#up2-up3 {
  margin-left:27%;
  margin-top:5%;
  height:10%;
}
#up4-up5 {
  margin-left:55%;
  margin-top:5%;
  height:10%;
}

/*
    ____      ____    
   /  _/___  / __/___ 
   / // __ \/ /_/ __ \
 _/ // / / / __/ /_/ /
/___/_/ /_/_/  \____/ 
                      
*/
.infoContainer {
  height:96%;
  width:97%;
  margin:1%;
  display:flex;
  flex-direction: column;
}
.infoHeader {
  font-family: "Header";
  font-size:200%
}
.infoHeaderSub{
  padding-left:5%;
  font-family: "Header";
  font-size:150%
}
.infoText {
  padding-left:5%;
  font-family: "Cooler-Content";
  font-size:150%
}
#infoTextEnd {
  margin-bottom:auto;
}
.links {
  font-family: "Cooler-Content";
  font-size:150%;
  text-align: right;
}
.links a, a:visited, a:hover {
  color:blue;
}
.links a:active {
  color:lightblue;
}
/*
    ___                              _           
   /   |  _____________  ____  _____(_)___  ____  
  / /| | / ___/ ___/ _ \/ __ \/ ___/ / __ \/ __ \  
 / ___ |(__  ) /__/  __/ / / (__  ) / /_/ / / / /  
/_/  |_/____/\___/\___/_/ /_/____/_/\____/_/ /_/  
                                                                                 
*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: black; /* Fallback colour */
  background-image: url(images/backgrounds/backgroundloop.gif);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2.5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 3px solid #ffffff;
  border-radius:5px;
  width: 85%; /* Could be more or less, depending on screen size */
  height: 85%;
}

/* The Close Button */
.close {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}
#ascendConvert {
  margin:40% 0% 0% 0%;
}
#ascendUpgrade1 {
    margin:20% 0% 0% 40%;
}
#ascendUpgrade2 {
  margin:20% 0% 0% 50%;
}
#ascendUpgrade3 {
  margin:30% 0% 0% 50%;
}
#ascendUpgrade4 {
  margin: 20% 0% 0% 30%;
}
#ascendUpgrade5 {
  margin: 30% 0% 0% 30%;
}
#ascendUpgrade6 {
  margin: 30% 0% 0% 40%;
}
#ascendUpgrade7 {
  margin: 10% 0% 0% 40%;
}
#ascendUpgrade8 {
  margin: 10% 0% 0% 30%;
}
#ascendUpgrade9 {
  margin: 10% 0% 0% 20%;
}
.tooltip {
  border-radius:100px;
  position: absolute;
  z-index: 5;
}
.tooltipimg {
  z-index:5;
}
.tooltip hr {
  z-index: 4;
}
#au1-au2 {
  width:10%;
  height:0.5%;
  margin:22.5% 0% 0% 41%;
}
#au1-au4 {
  width:10%;
  height:0.5%;
  margin:22.5% 0% 0% 31%;
}
#au1-au6 {
  width:10%;
  height:0.5%;
  margin:27% 0% 0% 37.25%;
  transform: rotate(90deg);
}
#au1-au7 {
  width:10%;
  height:0.5%;
  margin:18% 0% 0% 37.25%;
  transform: rotate(90deg);
}
#au2-au3 {
  width:0.25%;
  height:20%;
  margin:23% 0% 0% 52%;
}
#au4-au5 {
  width:0.25%;
  height:20%;
  margin:22.5% 0% 0% 32%;
}
#au7-au8 {
  width:10%;
  height:0.5%;
  margin:12.25% 0% 0% 31%;
  transform: rotate(0deg);
}
#au8-au9 {
  width:10%;
  height:0.5%;
  margin:12.25% 0% 0% 21%;
  transform: rotate(0deg);
}
/* Tooltip text */
.tooltiptext {
  visibility: hidden;
  width: 130px;
  background-color: #000000;
  border: 3px solid #ffffff;
  color: #fff;
  text-align: center;
  padding: 15px;
  border-radius: 6px;
 
  /* Position the tooltip text */
  position: absolute;
  z-index: 6;
  bottom: 120%;
  left: -45%;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
/*
    __  ___           __      _     __                                              _                
   /  |/  /  ____    / /_    (_)   / /  ___         _   __  ___    _____   _____   (_)  ____    ____ 
  / /|_/ /  / __ \  / __ \  / /   / /  / _ \       | | / / / _ \  / ___/  / ___/  / /  / __ \  / __ \
 / /  / /  / /_/ / / /_/ / / /   / /  /  __/       | |/ / /  __/ / /     (__  )  / /  / /_/ / / / / /
/_/  /_/   \____/ /_.___/ /_/   /_/   \___/        |___/  \___/ /_/     /____/  /_/   \____/ /_/ /_/ 
                                                                                                                                                                                  
*/
@media (max-width: 800px) {
.display {
  width:95%;
}
#ascendConvert {
  margin:130% 0% 0% 0%;
}
#ascendUpgrade1 {
  margin:10% 0% 0% 40%;
}
#ascendUpgrade2 {
  margin:25% 0% 0% 60%;
}
#ascendUpgrade3 {
  margin:50% 0% 0% 60%;
}
#ascendUpgrade4 {
  margin: 25% 0% 0% 20%;
}
#ascendUpgrade5 {
  margin: 50% 0% 0% 20%;
}
#ascendUpgrade6 {
  margin:10% 0% 0% 5%;
}
#ascendUpgrade7 {
  margin:30% 0% 0% 40%;
}
#ascendUpgrade8 {
  margin:60% 0% 0% 40%;
}
#ascendUpgrade9 {
  margin:90% 0% 0% 40%;
}
#au1-au2 {
  width:20%;
  height:0.5%;
  margin:25% 0% 0% 47%;
  transform:rotate(40deg);
}
#au1-au4 {
  width:20%;
  height:0.5%;
  margin:25% 0% 0% 24%;
  transform:rotate(-40deg);
}
#au1-au6 {
  width:35%;
  height:0.5%;
  margin:15% 0% 0% 5%;
  transform: rotate(0deg);
}
#au1-au7 {
  width:10%;
  height:0.5%;
  margin:27% 0% 0% 41%;
}
#au2-au3 {
  width:0.75%;
  height:15%;
  margin:27% 0% 0% 65%;
}
#au4-au5 {
  width:0.75%;
  height:15%;
  margin:27% 0% 0% 25%;
}
#au7-au8 {
  width:20%;
  height:0.5%;
  margin:50% 0% 0% 36%;
  transform:rotate(90deg);
}
#au8-au9 {
  width:20%;
  height:0.5%;
  margin:80% 0% 0% 36%;
  transform:rotate(90deg);
}
.upgradePos {
  margin-top:100%;
  margin-left:0%;
  width:100%;
  height:60%;
  position:absolute;
}
.upgradePos button {
  padding:15px;
  font-size:15px;
}
#upgrade1 {
  margin-left:35%;
}
#upgrade2 {
  margin-top:10%;
  margin-left:10%;
}
#upgrade3 {
  margin-top:20%;
  margin-left:10%;
}
#upgrade4 {
  margin-top:10%;
  margin-left:60%;
}
#upgrade5 {
  margin-top:25%;
  margin-left:60%;
}
#up1-up2 {
  margin-left:35%;
  margin-top:-2%;
  transform:rotate(60deg);
  height:20%;
}
#up1-up4 {
  margin-left:67%;
  margin-top:-2%;
  transform:rotate(-60deg);
  height:20%;
}
#up2-up3 {
  margin-left:27%;
  margin-top:15%;
  transform:rotate(0deg);
  height:10%;
}
#up4-up5 {
  margin-left:77%;
  margin-top:15%;
  transform:rotate(0deg);
  height:10%;
}
}
@media (max-width: 500px) {
  .upgradePos {
    margin-top:130%;
  }
  .upgradePos button {
    padding:10px;
    font-size:10px;
  }
}